RewriteEngine On
#RewriteBase /
RewriteRule ^([-a-zA-Z0-9]+)?$ index.php?route=$1
RewriteRule ^([-a-zA-Z0-9]+)/?$ index.php?route=$1

# RewriteRule ^([-a-zA-Z0-9]+)/?$ index.php?route=$1 [QSA]

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]